


@{
    ViewData["Title"] = "Account Statement";
}

@section Styles {
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- jQuery UI (للـ autocomplete) -->
    <link href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css" rel="stylesheet" />
    <!-- DataTables + Bootstrap 5 skin -->
    <link href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
}

<div class="row mb-3">
    <div class="col-md-4">
        <label class="form-label">Account</label>
        <input id="accountPicker" class="form-control" placeholder="code - name" />
        <input type="hidden" id="accountId" />
    </div>
    <div class="col-md-3">
        <label class="form-label">From</label>
        <input type="date" id="dateFrom" class="form-control" />
    </div>
    <div class="col-md-3">
        <label class="form-label">To</label>
        <input type="date" id="dateTo" class="form-control" />
    </div>
    <div class="col-md-2 d-flex align-items-end gap-2">
        <button id="btnSearch" class="btn btn-primary w-100">Search</button>
    </div>
</div>

<div class="mb-2 d-flex gap-2">
    <button id="btnYTD" class="btn btn-outline-secondary">From start of year</button>
    <button id="printBtn" class="btn btn-outline-dark">Print</button>
    <button id="btnExport" class="btn btn-success">Export Excel</button>
</div>

<table id="statementTable" class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th name="AccountId">Account ID</th>
            <th name="AccountName">Account Name</th>
            <th name="TxnDate">Date</th>
            <th name="PreviousBalance">Previous</th>
            <th name="Debit">Debit</th>
            <th name="Credit">Credit</th>
            <th name="FinalBalance">Final</th>
            <th name="Actions">Action</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th colspan="3" class="text-end">Totals:</th>
            <th id="ftPrev"></th>
            <th id="ftDebit"></th>
            <th id="ftCredit"></th>
            <th id="ftFinal"></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<div id="txModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Transaction details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-sm table-bordered">
                    <tr><th>Account ID</th><td id="detailAccountId"></td></tr>
                    <tr><th>Account Name</th><td id="detailAccountName"></td></tr>
                    <tr><th>Date</th><td id="detailTxnDate"></td></tr>
                    <tr><th>Previous Balance</th><td id="detailPrevious"></td></tr>
                    <tr><th>Debit</th><td id="detailDebit"></td></tr>
                    <tr><th>Credit</th><td id="detailCredit"></td></tr>
                    <tr><th>Final Balance</th><td id="detailFinal"></td></tr>
                    <tr><th>Description</th><td id="detailDescription"></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>




